body {
  background: hsl(217, 54%, 11%);
  font-size: 18px;
  font-family: outfit;
}

.the-card {
  position: relative;
  height: 600px;
  width: 350px;
  background-color: hsl(216, 50%, 16%);
  margin: 0 auto;
  border-radius: 5%;
  display: grid;
  grid-template-rows: repeat(4 ,1fr);
  grid-template-areas: "img"
                  "img"
                  "mid"
                  "foot";
}

.contaner {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* start img area */

.img {
  top: 0;
  position: absolute;
  grid-area: img;
}

.img:hover {
  content: "";
  opacity: 30% red;

}

.img img {
  height: 300px;
  width: 300px;
  display: flex;
  margin: 20px 10px;
  border-radius: 3%;
}

/* end img area */

/* start mid area */
.mid {
  position: absolute;
  top: 4px;
  bottom: -46px;
  margin: 20px;
  color: hsl(215, 26%, 37%);
  grid-area: mid;
}

.mid h2 {
  color: #fff;
}

.mid svg:first-of-type {
  position: absolute;
  left: 0px;
  top: 146px;
}

.mid svg:first-of-type + span {
 color: #00fff8;
 padding-left: 20px;
}

.mid svg:last-of-type +span{
  position: absolute;
  right: 0;
}

.mid svg:last-of-type {
  position: absolute;
  right: 87px;
  top: 146px;
}
/* end mid area */

/* start lower area */
.footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 20px;
  color: hsl(215, 26%, 37%);
  grid-area: foot;
  display: flex;
  width: 88%;
}

.footer::after {
  content: "";
  border-top: solid 1px hsl(215, 26%, 37%);
  position: absolute;
  width: 100%;
  top: -8px;
}

.footer img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border: solid 1px #fff;
  border-radius: 50%;
  align-self: center;
}

.footer p {
  align-self: center;
}

.footer span {
  color: #fff;
}
/* start lower area */