:root {
  --main-bg: hsl(217, 54%, 11%);
  --main-font: hsl(215, 32%, 27%);
  --main-padding: 30px;
  --active-color: #00fff8;
}

body {
  background-color: var(--main-bg);
  color: var(--main-font);
  font-family: outfit;
  font-size: 18px;
}

.contaner {
  height: 560px;
  width: 322px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(216, 50%, 16%);
  border-radius: 3%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* start img */

.img {
  border-radius: 16.6%;
  position: relative;
}

.img:hover::after {
  content: url(images/icon-view.svg);
  position: absolute;
  display: inline;
  top: 49%;
  left: 50%;
  transform: translate(-50% ,-50%);
  background-color :#00fff743;
  padding: 104px 106px;
  border-radius: 14.6%;
  cursor: pointer;
}

.img img {
  width: 260px;
  height: 260px;
  border-radius: 15%;
  padding: 0;
}

/* end img */

/* start mid */

.mid {
  padding: 0 var(--main-padding);
  display: inline-block;
}

.mid h2:hover{
  color: var(--active-color);
  cursor: pointer;
}

.mid::after {
  content: "";
  width: 80%;
  position: absolute;
  bottom: 95px;
  border-bottom: solid 1px var(--main-font);
  left: 32px;
}

.mid h2 {
  color: #fff;
  width: fit-content;
}

.mid .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ETH,
.clock {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.ETH span {
  color: #00fff8;
}

/* end mid */

/* Start bot */

.bot {
  display: flex;
  padding: var(--main-padding);
  align-items: center;
}


.bot img {
  width: 40px;
  height: 40px;
  border: solid 1px #fff;
  border-radius: 50%;
  display: flex;
  margin-right: 20px;
}

.bot span {
  color: #fff;
}

.bot span:hover {
  color: var(--active-color);
  cursor: pointer;
}

/* End bot */